* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #dddada;
          box-shadow: inset 0 0 5px #dddada;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7c28b4;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7c28b4;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.box {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.box .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  max-width: 50%;
}

.box .caption h1 {
  font-size: 5rem;
  color: #7c28b4;
  font-family: "Poppins";
  line-height: auto;
  display: block;
}

.box .caption h1 span {
  position: absolute;
}

@-webkit-keyframes valleyText {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  25% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  50% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  75% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes valleyText {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  25% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  50% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  75% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.box .caption p {
  margin-top: 200px;
  color: rgba(112, 110, 110, 0.418);
  font-size: 16px;
  font-family: "Poppins";
  max-width: 60%;
}

.pano-img {
  width: 80%;
  height: 600px;
  margin: 100px;
}

@media screen and (max-width: 767px) {
  .pano-img {
    width: 100%;
    height: 300px;
  }
  .box .caption {
    max-width: 100%;
  }
  .box .caption p {
    max-width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */